h1 {
    color: white;
    margin-top: 10px;
    padding-left: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 20px;
    z-index: 9999;
    border-bottom: solid rgba(188, 101, 217, 0.384) 10px;
    background-color: rgb(54, 54, 54);
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: .75em;
}
a:hover {
    cursor: pointer;
}

p {
    position: absolute;
    top: 10px;
    right: 0;
    width: 60px;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-container {
    position: relative;
    display: inline-block;
    width: 200px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px 0px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input:focus {
    outline: none;
  }
  
  ul {
    list-style: none;
    width: calc(100% + 10px);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  li {
    width: calc(100% - 10px);
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #f5f5f5;
  }
  
  li:last-child {
    border-bottom: none;
  }