.container {
    padding: 0;
    background-color: rgb(54,54,54);
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    color: rgb(198, 198, 198);
}
.messages {
    width: 85%;
    height: calc(100% - 50px);
    overflow-y: scroll;
}
.messages::-webkit-scrollbar {
    width: 12px;
}
  
.messages::-webkit-scrollbar-track {
    background-color: rgb(54, 54, 54);
}
  
.messages::-webkit-scrollbar-thumb {
    background-color: rgba(188, 101, 217, 0.384);
    border-radius: 6px;
    border: 1px solid rgb(54, 54, 54);
    visibility: hidden;
}
  
.messages::-webkit-scrollbar-thumb:hover {
    background-color: rgba(188, 101, 217, 0.384);
    visibility: visible;
}

.message-title {
    padding-bottom: 0px;
}

.message-title p {
    margin-bottom: 0px;
}

p {
    display: inline-block;
    color: white;
    padding-right: 10px;
}

.from {
    color: greenyellow;
    font-weight: bolder;
    font-size: 1.25em;
}

.message-input {
    width: 85%;
    height: 50px;
    margin-bottom: 40px;
    border: solid 3px rgba(188, 101, 217, 0.384);
    border-radius: 25px;
    display: flex;
    align-items: center;
}

input {
    height: 70%;
    width: 85%;
    margin-left: 10px;
    border: none;
    background-color: rgb(54,54,54);
    color: white;
    font: 1.5em sans-serif;
}
input:focus {
    outline: none;
}
button {
    background-color: rgb(54,54,54);
    border: none;
    margin-right: 5px;
    width: 10px;
}
button:hover {
    cursor: pointer;
}
.material-symbols-outlined {
    color: rgba(188, 101, 217, 0.384);
}
