.container {
    position: absolute;
    top: 0;
    background-color: rgb(54,54,54);
    height: 100%;
    width: 85vw;
    border-right: solid rgba(188, 101, 217, 0.384) 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2 {
    color: rgb(198,198,198);
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 50px;
}

li {
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
}
li:hover {
    cursor: pointer;
}
.status {
    height: 10px;
    width: 10px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.status.online {
    background-color: green;
    border: 1px solid black;
}
.slider {
    height: 50px;
    width: 20px;
    background-color: rgba(188, 101, 217, 0.384);
    position: absolute;
    top: 400px;
    right: -30px;
}
.slider:hover {
    cursor: pointer;
}